<p id="notice"><%= notice %></p>
<div class="col-lg-8">
<h1>Listing Events</h1>

<% @events.each do |event| %>
  <h4><%=" Titulo: "%><%= event.title%></h4>
  <div><%=" Start Date: "%><%= l event.start_date, format: :date_format %></div>
  <div><%=" End Date: "%><%= l event.end_date, format: :date_format %></div>
  <div><%=" Location: "%><%= event.location %></div>
  <div><%=" Agenda: "%><%= event.agenda %></div>
  <div><%=" Address: "%><%= event.address %></div>
  <div><%=" Organizer: "%><%= event.user.email %></div>
  <div><%=" Tags: "%><br>
  <%= raw event.all_tags.split(",").map { |t| link_to t, tag_path(t) }.join(", ") %></div>
  <div><%= link_to 'Show', event %> - <%= link_to 'Edit', edit_event_path(event) %> - <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  <br>
<% end %>
</div>

<%= link_to 'New Event', new_event_path %>

<div class="col-lg-4">
  <h3>Search Tags</h3>
  <div>
    <% tag_cloud Event.tag_counts, %w{css1 css2 css3 css4} do |tag, css_class|%>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
</div>

